<template>
    <div class="bol-checker">
        <div class="bol-checker__header">
            <!--<div v-if="$store.getters['UserStore/getUser'] !== null">Logged in as: <span>{{$store.getters['UserStore/getUser']}}</span></div>-->
            <!--<span v-if="$store.getters['UserStore/isAuthenticated']" class="logout" @click="onLogout()">Uitloggen</span>-->
            <!--<span v-else>Not Logged in</span>-->
            <img src="~/static/bol.jpg" alt="bollert">
            <h6>Bol.com Koopblok Checker</h6>
        </div>
        <nuxt/>
    </div>
</template>

<script>
    export default {
        methods: {
            onLogout() {
                this.$store.dispatch('UserStore/logout');
                this.$router.push('/login');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .bol-checker {
        &__header {
            height: 128px;
            background: $blue;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 0 16px;
            display: flex;
            align-items: center;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            }

            h6 {
                color: white;
                margin: 0 0 0 16px;
            }
        }
    }
</style>
