<template>
    <section class="container">
        <div>
            <h1 class="title">
                bol-checker
            </h1>
            <h2 class="subtitle">
                Bol.com Koopblock Checker
            </h2>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        middleware: [
            'checkAuth',
            'auth'
        ],
        computed: {
            ...mapGetters([
                'UserStore/getLoggedIn'
            ])
        },
        created() {
            this.$router.push({ path: 'products'});
        }
    }
</script>

<style lang="scss" scoped>
</style>
