<template>
    <div class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header">
                        <h4>Login</h4>
                    </div>
                    <form @submit.prevent="onSubmit()">
                        <label for="username">Username</label>
                        <input type="text" id="username" v-model="username">
                        <label for="password">Password</label>
                        <input type="password" id="password" v-model="password">
                        <input type="submit" value="Inloggen">
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            username: '',
            password: ''
        }),
        methods: {
            onSubmit() {
                this.$store.dispatch('UserStore/authenticateUser', {
                    username: this.username,
                    password: this.password
                })
                    .then(() => {
                        this.$router.push('/products');
                    });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .login-page {
        h4 {
            margin: 32px 0 0;
        }

        form {
            margin: 16px 0 0;
            display: flex;
            flex-direction: column;

            label {
                margin: 16px 0 0;
            }

            input {
                margin: 8px 0 0;
                height: 32px;
                padding: 0 8px;

                &[type="submit"] {
                    background: $blue;
                    color: white;
                    margin: 24px 0 0;
                    align-self: flex-start;
                    padding: 0 16px;
                }
            }

            button {
                margin: 16px 0 0;
            }
        }
    }
</style>
