<template>
    <div class="products">
        <Loader :fullscreen="true" v-if="loading"/>
        <transition name="fade">
            <Popup v-if="popup"
                   title="Let op"
                   confirmText="Verwijder product"
                   cancelText="Annuleer"
                   @confirm="removeProduct()"
                   @cancel="closePopup()"
                   @close="closePopup()">
                <p slot="body">
                    Weet je het zeker dat je dit product wilt verwijderen? </p>
            </Popup>
        </transition>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-9 col-md-3">
                    <select v-model="sortType">
                        <option value="sort" disabled selected hidden>Kies een sortering</option>
                        <option value="selling-block-reversed">Geen koopblok</option>
                        <option value="selling-block">Wel koopblok</option>
                        <option value="comp-block">Verkoop door concurrent</option>
                        <option value="bol-block">Verkoop door Bol.com</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button @click="checkSellingBlocks()" class="check-sellingblocks">Check koopblokken</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <transition-group name="fade">
                        <div class="product"
                             v-for="(product, key) in products"
                             :key="key"
                             :class="{ 'selling-block': product.sellingBlock, 'selling-by-competitor': product.sellingByCompetitor, 'selling-by-bol': product.sellingByBol }">
                            <div class="product__content">
                                <a class="product__content__title"
                                   v-text="product.productName"
                                   :href="product.url"
                                   target="_blank"></a>
                                <div class="product__content__info">
                                    <div class="product__content__info__ean subtitle1" v-text="product.ean"></div>
                                    <div class="product__content__info__scarcity" v-if="product.productScarcity">Let op, bijna uitverkocht!</div>
                                    <div class="product__content__info__on-summary" v-if="!product.onSummary">Let op, geen vermelding op overzichtspagina!</div>
                                </div>
                            </div>
                            <div class="product__buttons">
                                <button class="product__buttons__refresh" @click="singleRequest(product, key)">
                                    <span class="material-icons">refresh</span>
                                    refresh
                                </button>
                                <button class="product__buttons__edit" @click="openEditPopup(product)">
                                    <span class="material-icons">create</span>
                                    edit
                                </button>
                                <button class="product__buttons__remove" @click="openPopup(product)">
                                    <span class="material-icons">delete</span>
                                    Remove
                                </button>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button @click="addProductBlock = !addProductBlock" class="check-sellingblocks">Product toevoegen
                    </button>
                </div>
            </div>
            <transition name="fade">
                <Popup v-if="addProductBlock"
                       title="Product toevoegen"
                       @close="closePopup()"
                       @loading="toggleLoader($event)">
                    <p slot="body">
                        <AddProducts @succes="initialize()"/>
                    </p>
                </Popup>
            </transition>
            <transition name="fade">
                <Popup v-if="editProductBlock" title="Product aanpassen" @close="closePopup()">
                    <p slot="body">
                        <EditProduct :product="productToEdit" @succes="initialize()"/>
                    </p>
                </Popup>
            </transition>
        </div>
    </div>
</template>

<script>
    import {ProductsApi} from '~/api/products';
    import {Loader, Popup, AddProducts, EditProduct} from '~/components';

    export default {
        name: 'products',
        middleware: [
            'checkAuth',
            'auth'
        ],
        data: () => ({
            loading: false,
            popup: false,
            productToRemove: null,
            products: [],
            addProductBlock: false,
            productToEdit: null,
            editProductBlock: false,
            sortType: 'sort'
        }),
        components: {
            Loader,
            Popup,
            AddProducts,
            EditProduct
        },
        methods: {
            initialize() {
                this.addProductBlock = false;
                this.editProductBlock = false;
                this.loading = true;
                this.productToRemove = null;
                ProductsApi.getProducts(this.$store.getters['UserStore/getUserIdToken'])
                    .then((response) => {
                        let sortableArray = [];
                        for (let product in response.data) {
                            sortableArray.push(response.data[product]);
                        }
                        this.products = sortableArray;
                        this.products = this.sortProducts(this.products, this.sortType);
                        this.loading = false;
                    });
            },
            toggleLoader(loading) {
                this.loading = loading;
            },
            sortProducts(products, type) {
                console.log(type);
                let tempSellingBlock = [];
                let tempCompetitorsBlock = [];
                let tempBolBlock = [];
                let tempOthersBlock = [];

                products.forEach((product) => {
                    if (product.sellingBlock) {
                        tempSellingBlock.push(product);
                    } else if (product.sellingByCompetitor) {
                        tempCompetitorsBlock.push(product);
                    } else if (product.sellingByBol) {
                        tempBolBlock.push(product);
                    } else {
                        tempOthersBlock.push(product);
                    }
                });

                return type === null
                    ? [...tempOthersBlock, ...tempBolBlock, ...tempCompetitorsBlock, ...tempSellingBlock]
                    : type === 'comp-block'
                        ? [...tempCompetitorsBlock, ...tempOthersBlock, ...tempBolBlock, ...tempSellingBlock]
                        : type === 'bol-block'
                            ? [...tempBolBlock, ...tempOthersBlock, ...tempCompetitorsBlock, ...tempSellingBlock]
                            : type === 'selling-block'
                                ? [...tempSellingBlock, ...tempOthersBlock, ...tempBolBlock, ...tempCompetitorsBlock]
                                : [...tempOthersBlock, ...tempBolBlock, ...tempCompetitorsBlock, ...tempSellingBlock];
            },
            openPopup(product) {
                this.productToRemove = product;
                this.popup = true;
            },
            openEditPopup(product) {
                this.productToEdit = product;
                this.editProductBlock = true;
            },
            closePopup() {
                this.productToRemove = null;
                this.popup = false;
                this.addProductBlock = false;
                this.editProductBlock = false;
            },
            removeProduct() {
                this.popup = false;
                this.loading = true;
                ProductsApi.removeProduct(this.productToRemove, this.$store.getters['UserStore/getUserIdToken'])
                    .then(() => {
                        this.initialize();
                    })
                    .catch(error => {
                        console.error(error)
                    });
            },
            checkSellingBlocks() {
                let i = 1;
                let id = 0;
                let v = this;

                function loopWithTimeout() {
                    v.loading = true;
                    setTimeout(() => {
                        v.getRequest(v.products[id], id);
                        i++;
                        id++;
                        if (i <= v.products.length) {
                            loopWithTimeout();
                        } else {
                            v.products = v.sortProducts(v.products, v.sortType);
                            v.loading = false;
                        }
                    }, 1500);
                }

                loopWithTimeout();
            },
            getRequest(product, id) {
                return this.$axios.get(`${process.env.bolApiUrl}/api/checksellingblock?url=${product.url}&company=${process.env.company}&competitor=${process.env.competitor}`)
                    .then((response) => {
                        console.log(response);
                        this.products[id].sellingBlock = response.data.result.sellingBlock;
                        this.products[id].sellingByCompetitor = response.data.result.sellingByCompetitor;
                        this.products[id].sellingByBol = response.data.result.sellingByBol;
                        this.products[id].productScarcity = response.data.result.productScarcity;
                        this.products[id].onSummary = response.data.result.onSummary;
                        ProductsApi.updateProduct(product.id, this.products[id], this.$store.getters['UserStore/getUserIdToken']);

                        // if (response.data.result.sellingBlock) {
                        //     this.products[id].sellingBlock = true;
                        //     this.products[id].sellingByCompetitor = false;
                        //     this.products[id].sellingByBol = false;
                        //     this.products[id].productScarcity = response.data.result.productScarcity;
                        //     ProductsApi.updateProduct(product.id, this.products[id], this.$store.getters['UserStore/getUserIdToken']);
                        // } else if (response.data.result.sellingByCompetitor) {
                        //     this.products[id].sellingBlock = false;
                        //     this.products[id].sellingByCompetitor = true;
                        //     this.products[id].sellingByBol = false;
                        //     this.products[id].productScarcity = response.data.result.productScarcity;
                        //     ProductsApi.updateProduct(product.id, this.products[id], this.$store.getters['UserStore/getUserIdToken']);
                        // } else if (response.data.result.sellingByBol) {
                        //     this.products[id].sellingBlock = false;
                        //     this.products[id].sellingByCompetitor = false;
                        //     this.products[id].sellingByBol = true;
                        //     this.products[id].productScarcity = response.data.result.productScarcity;
                        //     ProductsApi.updateProduct(product.id, this.products[id], this.$store.getters['UserStore/getUserIdToken']);
                        // } else {
                        //     this.products[id].sellingBlock = false;
                        //     this.products[id].sellingByCompetitor = false;
                        //     this.products[id].sellingByBol = false;
                        //     this.products[id].productScarcity = response.data.result.productScarcity;
                        //     ProductsApi.updateProduct(product.id, this.products[id], this.$store.getters['UserStore/getUserIdToken']);
                        // }
                    })
                    .catch(e => console.log(e));
            },
            singleRequest(product, id) {
                this.loading = true;
                this.getRequest(product, id)
                    .then(() => {
                        this.loading = false;
                    });
            }
        },
        mounted() {
            this.initialize();
        },
        watch: {
            sortType() {
                this.products = this.sortProducts(this.products, this.sortType);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .products {
        padding: 32px 0;

        select {
            width: 100%;
            height: 56px;
            border: none;
            border-bottom: 1px solid #0075eb;
            padding: 0 26px 0 16px;

            option {
                height: 56px;
            }
        }

        .check-sellingblocks {
            height: 80px;
            margin: 8px 0 0;
            display: block;
            width: 100%;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            background: #199ce3;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .product {
            border-left: 32px solid #ff7373;
            background: #fff;
            font-weight: 700;
            margin: 8px 0 0;
            padding: 16px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            transition: box-shadow 135ms cubic-bezier(.4, 0, .2, 1), width 235ms cubic-bezier(.4, 0, .2, 1);

            &:hover {
                box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .2), 0 2px 8px 4px rgba(60, 64, 67, .1);

                .product__buttons {
                    transform: translateX(0);
                }
            }

            &__content {
                &__title {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    font-weight: 400;
                    letter-spacing: 0;
                    font-size: 24px;
                }

                &__info {
                    margin: 14px 0 0;
                    color: #979797;

                    &__scarcity {
                        margin: 16px 0 0;
                        color: darkred;
                    }

                    &__on-summary {
                        margin: 16px 0 0;
                        color: #979700;
                    }
                }
            }

            &__buttons {
                transform: translateX(calc(100% + 16px));
                transition: all 0.25s;
                display: flex;
                margin: 24px 0 0;
                justify-content: flex-end;
                flex-wrap: wrap;

                &__refresh, &__edit, &__remove {
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    margin: 8px;

                    span {
                        font-size: 18px;
                        margin: 0 8px 0 0;
                    }
                }

                &__refresh {
                    background: green;
                }

                &__edit {
                    background: darkorange;
                }

                &__remove {
                    background: red;
                }
            }

            &.selling-block {
                border-left: 32px solid #4ceb9d;
            }

            &.selling-by-competitor {
                border-left: 32px solid #eb9b08;
            }

            &.selling-by-bol {
                border-left: 32px solid #0075eb;
            }
        }

        ul {
            margin: 20px 0;
        }
    }
</style>
