/*===============================================================================================*/
/*		BASE							                                          		                      		 */
/*===============================================================================================*/

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: #e5e5e5;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 300;
    letter-spacing: -1.5px;
    font-size: 96px;
}

h2 {
    font-weight: 300;
    letter-spacing: -0.5px;
    font-size: 60px;
}

h3 {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 48px;
}

h4 {
    font-weight: 400;
    letter-spacing: 0.25px;
    font-size: 34px;
}

h5 {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 24px;
}

h6 {
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
}

.subtitle1 {
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 16px;
}

.subtitle2 {
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 14px;
}

button, input[type="submit"] {
    cursor: pointer;
    min-height: 36px;
    font-family: 'Rubik', sans-serif;
    border: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    padding: 0 16px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);

    &:hover {
        box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);
    }
}

select, option {
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75px;
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);

    &:hover {
        box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);
    }
}
