/*===============================================================================================*/
/*		GRID   			   		                                                    		            		 */
/*===============================================================================================*/

// grid colums
$grid-columns: 12;

// grid max width
$grid-max-width: 1200px;

// breakpoints
$breakpoint-xsmall: "only screen and (min-width: 544px)";
$breakpoint-small: "only screen and (min-width: 768px)";
$breakpoint-medium: "only screen and (min-width: 992px)";
$breakpoint-large: "only screen and (min-width: 1200px)";

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}

[class*='col-'] {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

@media #{$breakpoint-xsmall} {
    .container {
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-columns {
        .col-xs-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .col-xs-offset-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-small} {
    .container {
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .col-sm-offset-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-medium} {
    .container {
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .col-md-offset-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-large} {
    .container {
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .col-lg-offset-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}
