/*===============================================================================================*/
/*    TRANSITIONS                                                                                */
/*===============================================================================================*/

.fade-enter-active,
.fade-leave-active {
    transition: opacity .25s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
    transition: all 0.25s;
    max-height: 350px;
}

.fadeHeight-enter,
.fadeHeight-leave-to {
    transition: max-height 0.25s;
    opacity: 0;
    max-height: 0;
}
