<template>
  <div class="loader" :class="{ fullscreen: fullscreen }">
    <div class="half-circle-spinner">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      fullscreen: {
        type: Boolean,
        default: false
      },
    }
  }
</script>

<style lang="scss" scoped>
  .loader {
    z-index: 9999;

    &.fullscreen {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .half-circle-spinner {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: relative;

      .circle {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: calc(60px / 10) solid transparent;

        &.circle-1 {
          border-top-color: $blue;
          animation: half-circle-spinner-animation 1s infinite;
        }

        &.circle-2 {
          border-bottom-color: $blue;
          animation: half-circle-spinner-animation 1s infinite alternate;
        }
      }
    }

    @keyframes half-circle-spinner-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
</style>
