<template>
    <div class="popup">
        <div class="popup__overlay" @click="$emit('close')"></div>
        <div class="popup__inner">
            <div class="popup__inner__title">
                <h6 class="popup__inner__title__text">{{ title }}</h6>
                <span v-if="close"
                      class="popup__inner__title__close material-icons"
                      @click="$emit('close')">close</span>
            </div>
            <div class="popup__inner__body">
                <slot name="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus placerat nibh non
                        vehicula. Sed convallis, est sed dapibus posuere, velit lorem consectetur magna, sit amet
                        pellentesque tortor magna eu tellus. In vitae lectus est. Donec a velit at leo suscipit
                        dignissim at in leo. Aenean quis laoreet purus.</p>
                </slot>
                <button class="popup__inner__body__confirm"
                        v-if="confirmText"
                        @click="$emit('confirm')"
                        v-text="confirmText"></button>
                <button class="popup__inner__body__cancel"
                        v-if="confirmText"
                        @click="$emit('cancel')"
                        v-text="cancelText"></button>
                <template v-if="hasDisclaimerSlot">
                    <hr/>
                    <div class="popup__inner__body__disclaimer">
                        <slot name="disclaimer"></slot>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                default: 'Popup titel'
            },
            confirmText: {
                type: String,
                required: false
            },
            cancelText: {
                type: String,
                required: false
            },
            close: {
                type: Boolean,
                default: true
            }
        },
        computed: {
            hasDisclaimerSlot() {
                return this.$slots['disclaimer'];
            }
        }
    }
</script>

<style lang="scss" scoped>
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        &__overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.4);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &__inner {
            position: relative;
            z-index: 2;
            background: white;
            margin: 16px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            &__title {
                height: 56px;
                display: flex;
                align-items: center;
                padding: 16px 32px;
                background: $blue;
                position: relative;
                color: white;

                &__text {
                    margin: 0;
                }

                &__close {
                    margin: 0 0 0 auto;
                    cursor: pointer;
                }
            }

            &__body {
                padding: 16px;

                &__confirm,
                &__cancel {
                    color: white;
                    margin-top: 20px;

                    &:hover {
                        color: white;
                    }

                }

                &__confirm {
                    background: $blue;
                }

                &__cancel {
                    background: $blue;
                    margin-left: 0;
                }

                hr {
                    height: 2px;
                    background: grey;
                    border: none;
                    margin: 20px 0 0;
                }

                &__disclaimer {
                    font-size: 0.75rem;
                    margin: 20px 0 0;
                }

            }
        }
    }

    @media screen and (min-width: 992px) {
        .popup {
            &__inner {
                position: fixed;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                max-width: 600px;
                margin: 0;

                &__title {

                    &__close {
                        right: 30px;
                    }
                }

                &__body {
                    width: 500px;

                    &__confirm, &__cancel {
                        display: inline-block;
                        margin-top: 40px;
                    }

                    &__cancel {
                        margin-left: 15px;
                    }

                    hr {
                        margin: 40px 0 0;
                    }

                    &__disclaimer {
                        margin: 40px 0 0;
                    }
                }
            }
        }
    }
</style>
