<template>
    <form class="add-products" @submit.prevent="addProduct()">
        <label for="product.url">URL</label>
        <input type="text" id="product.url" v-model="product.url" autofocus :class="{error:error}">
        <label for="product.ean">EAN</label>
        <input type="text" id="product.ean" v-model="product.ean">
        <label for="product.productName">Naam product</label>
        <input type="text" id="product.productName" v-model="product.productName">
        <input type="submit" value="Toevoegen" :disabled="!checkIfFilled">
    </form>
</template>

<script>
    import {ProductsApi} from '~/api/products';

    export default {
        data() {
            return {
                error: false,
                interval: null,
                product: {
                    ean: '',
                    productName: '',
                    url: '',
                    sellingBlock: false
                },
                resetProduct: {
                    ean: '',
                    productName: '',
                    url: '',
                    sellingBlock: false
                }
            }
        },
        computed: {
            checkIfFilled() {
                return this.product.ean.length > 0 && this.product.productName.length > 0;
            },
            url() {
                return this.product.url;
            }
        },
        methods: {
            addProduct() {
                ProductsApi.addProduct(this.product, this.$store.getters['UserStore/getUserIdToken'])
                    .then(() => {
                        this.$emit('succes');
                        this.product = this.resetProduct;
                    });
            }
        },
        watch: {
            url() {
                clearInterval(this.interval);
                this.interval = setTimeout(() => {
                    this.error = false;
                    if (this.url.length > 0) {
                        this.$emit('loading', true);
                        this.$axios.get(`${process.env.bolApiUrl}/api/productinfo?url=${this.url}`)
                            .then((res) => {
                                // console.log(res);
                                if (res.data.result.productEan.length > 0 && res.data.result.productName.length > 0) {
                                    this.product.ean = res.data.result.productEan;
                                    this.product.productName = res.data.result.productName;
                                } else {
                                    this.error = true;
                                }
                            })
                            .catch((error) => {
                                console.error(error);
                                this.error = true;
                            })
                            .finally(() => this.$emit('loading', false));
                    }
                }, 1000);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .add-products {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;

        label {
            margin: 16px 0 0;
        }

        input {
            margin: 8px 0 0;
            height: 32px;
            padding: 0 8px;

            &[type="submit"] {
                background: $blue;
                color: white;
                margin: 24px 0 0;
                align-self: flex-start;
                padding: 0 16px;

                &:disabled {
                    opacity: 0.5;
                }
            }

            &.error {
                border: 2px solid red;
                color: red;
            }
        }

        button {
            margin: 16px 0 0;
        }
    }
</style>
