<template>
    <Loader v-if="loading"/>
    <form v-else class="add-products" @submit.prevent="editProduct()">
        <label for="productToEdit.ean">EAN</label>
        <input type="text" id="productToEdit.ean" v-model="productToEdit.ean">
        <label for="productToEdit.productName">Naam product</label>
        <input type="text" id="productToEdit.productName" v-model="productToEdit.productName">
        <label for="productToEdit.url">URL</label>
        <input type="text" id="productToEdit.url" v-model="productToEdit.url">
        <input type="submit" value="Aanpassen">
    </form>
</template>

<script>
    import {Loader} from '~/components';
    import {ProductsApi} from '~/api/products';

    export default {
        props: {
            product: {
                type: Object,
                required: true
            }
        },
        data: () => ({
            productToEdit: null,
            loading: true
        }),
        components: {
            Loader
        },
        methods: {
            editProduct() {
                ProductsApi.updateProduct(this.productToEdit.id, this.productToEdit, this.$store.getters['UserStore/getUserIdToken'])
                    .then(() => {
                        this.$emit('succes');
                    });
            }
        },
        mounted() {
            this.productToEdit = this.product;
            this.loading = false;
        }
    }
</script>

<style lang="scss" scoped>
    .add-products {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;

        label {
            margin: 16px 0 0;
        }

        input {
            margin: 8px 0 0;
            height: 32px;
            padding: 0 8px;

            &[type="submit"] {
                background: $blue;
                color: white;
                margin: 24px 0 0;
                align-self: flex-start;
                padding: 0 16px;
            }
        }

        button {
            margin: 16px 0 0;
        }
    }
</style>
